* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    padding: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    flex: 10;
}

.nav-items {
    color: #30387E;
    font-size: 20px;
    flex: 80;

    display: flex;
    justify-content: center;
    gap: 50px;
}

nav .button {
    flex: 10;
}

button {
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 30px;

    background: #965cf2;
    background: linear-gradient(90deg, #965cf2 25%, #ff8adc 75%);

    border: none;
    border-radius: 30px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
}

.left-section {
    padding-top: 100px;
}

.left-section h1 {
    font-size: 80px;
    color: #3E4794;
}

.left-section h4 {
    margin: 70px 0;
    width: 50ch;
    font-size: 16px;
    font-weight: 400;
    color: #4e4d4d;
}

.learn-more-btn {
    font-size: 25px !important;
    font-weight: 500;
}

.backcover {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.vector-img,.vector-dot {
    position: absolute;
    top: 70%;
    right: 50%;
}

.main {
    position: relative;
    width: 800px;
} 

/* media query */
@media screen and (max-width:1230px) {
    body{
        background-image: url("./images/backcover.svg");
        position: relative;
    }

    .imgs-div{
        opacity: 0.2;
    }
}

@media screen and (max-width:930px) {
    .nav-item{
        display: none;
    }
    
}

@media screen and (max-width:800px) {
    .left-section h1 {
        font-size: 64px;
    }

    .left-section h4 {
        font-size: 14px;
    }

    .learn-more-btn{
        padding: 10px 20px;
    }
}

@media screen and (max-width:500px) {

    .main-div{
        overflow-x: hidden;
    }
    
    nav img{
        width: 120px;
        margin-left: 8px;
    }

    .signin-btn{
        padding: 4px 18px;
        border-radius: 8px;
    }

    .left-section h1{
        font-size: 42px;
    }

}